{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <h2>Diagnoses</h2>
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead class="table-success">
                <tr>
                    <th scope="col">Appointment</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Status now</th>
                </tr>
            </thead>
            <tbody>
                {% if diagnoses %}
                    {% for diagnose in diagnoses %}
                        <tr>
                            <td>{{ diagnose.appointment }}</td>
                            <td>{{ diagnose.condition }}</td>
                            <td>{{ diagnose.status_now }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <a href="{% url "patient-dashboard" %}" class="btn btn-secondary">Go Back</a>
    {% else %}

        <div class="col-md-6 offset-md-3">
            <h1>You Are Not Logged In</h1>
            <br/>
            <a href="{% url "patient-dashboard" %}" class="btn btn-secondary">Go to Login</a>
        </div>
    {% endif %}
{% endblock content %}